.cabecera{
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}
.cabecera img{
    height: 100px;
}

.cabecera div ul{
    width: 260px;
    display: flex;
    justify-content: space-between;
}